/**
 * Basis CSS file
 *
 * @author  Educom
 * @version 1.0
 *
 */

html, body {
    margin: 0;
    padding: 0;
}

.red-square{
    width: 80px;
    height: 80px;
    color: #FFF;
    padding: 20px;
    margin: 10px;
    font-size: 14px;
    background-color: rgba(255, 0, 0, 0.4);
    display: inline-block;
}

.ever-so-slightly-darker-red-than-red-square-square{
    width: 80px;
    height: 80px;
    color: #FFF;
    padding: 20px;
    margin: 10px;
    font-size: 14px;
    background-color: rgba(255, 0, 0, 0.399999999999999999999999999999999999999999999999999999999999999999);
}

.cascading-test h4{
    color: blue;
    text-align: center;
}

.cascading-test a {
    color: aqua;
    font-weight: bold;
    position: relative;
    left: 710px;
}

.site-color {
    color: pink;
    background-color: rgb(182, 25, 51);
}

.site-font {
    font-size: 25px;
    font-family: cursive;
    font-weight: bold;
    text-align: center;
}

.white-whale {
    width: 600px;
    height: 600px;
    font-weight: bolder;
    background-color: gray;
    padding: 20px;
    display: inline-block;
    border-radius: 100%;
}

.pinnochio {
    color:#4f2103;
    font-size: 14px;
    position: absolute;
    top: 300px;
    left: 290px;
}

  
.face {
    background-color: #fcba03;
    width: 400px;
    height: 400px;
    border-radius: 100%;
}

.mouth {
    position: absolute;
    background-color: #4f2103;
    width: 215px;
    height: 90px;
    border-radius: 7px 7px 100px 100px;
    top: 250px;
    left: 90px;
}


.eye-section {
    width: 285px;
    height: 100px;
    position: absolute;
    left: 60px;
    top: 70px;
}

.left-eye, .right-eye {
    background-color: #4f2103;
    width: 52px;
    height: 60px;
    border-radius: 50px;
    position: absolute;
    top: 25px;
}

.right-eye {
    right: 20px;
}

.left-eye::before, .right-eye::before {
    content: "";
    display: block;
    background-color: white;
    width: 23px;
    height: 23px;
    border-radius: 100px;
    position: absolute;
    top: 20px;
    left: 10px
}